.main{
    margin-left:300px;
    margin-bottom: 50px;
}
code {
    background-color: #474954;
    border-radius: 25px;
    padding: 5px;
}
.quote{
    padding-left: 20px;
    padding-top: 5px;
    border-left: 5px solid rgb(79,84,92);
    padding-bottom: 5px;
}
.right{ 
    float: right;
    margin-right: 25px;
}
.bottom-links{
    margin-top: 2em;
    padding: 0 7em 0.1em 0;
    border-width: 2px;
}
.download{
    text-decoration: none;
    background-color: #b9bbbe;
    border-radius: 25px; 
    color: #fff;
    padding:3px;
    border: 1.5px solid #000;

}